@font-face
{
    font-family: 'lilita';
    src: url(../fonts/Lilita_One/LilitaOne-Regular.ttf);
}
@font-face
{
     font-family: 'Good_times';
     src: url(../fonts/good_times/good\ times\ rg.otf);
}

body
{
    
    height: 100%;
    margin: 0px;
    padding: 0px;
    background:fixed url(../img/plano_de_fundo.png);
}
.content-navbar
{
    
   display: flex;
   position: absolute;
   width: 100%;
   justify-content: center;
   height: 15%;
   background: linear-gradient(190deg , rgba(24, 23, 46, 0.400),rgba(16, 15, 44, 0.400),rgba(89, 104, 148, 0.400),rgba(43,58,112,0.400));
}
.img-logo
{
    cursor: pointer;
}
.navbar 
{
    display: flex;
    margin: 0;
    position: relative;
    height: 100%;
    width: 95%; 
    justify-content: center;
 
}
.text-navbar /* textos da navbar*/
{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    grid-gap: 20%;
    position: relative;
    display: flex;
    width: 50%;
   
    
    
}
.text-navbar a
{
    font-size: 40px;
    text-decoration: none;
    color: white;
    font-family: 'lilita';
}
.navbar .img-logo
{
    
    background-color: rgba(245, 227, 227, 0.020);;
    position: relative;
    right: 15%;
    width: 6%;
    border-radius: 100%;
}
.img-logo img
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.login
{
    width: 8%;
    position: relative;
    left: 18%;
    
    border-radius: 100%;
    padding: 0;
    
}
.login img
{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
/* final da navbar */

.conteiner-user
{
    justify-content: center;
    position:absolute;
    display: flex;
    border:2px solid;
    height:40vw;
    width: 80%;
    top: 15%;
    left: 20vh;

}
.conteiner-img-user
{
    border: solid;
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 30%;

    
}
.img-user img
{
    height: 100%;

}
.img-user
{
    
    border-radius: 100%;
    height: 50%;
    width: 40%;
    border: solid;
    justify-content: center;
}

