@font-face
{
    font-family: 'lilita';
    src: url(../fonts/Lilita_One/LilitaOne-Regular.ttf);
}
@font-face
{
     font-family: 'Good_times';
     src: url(../fonts/good_times/good\ times\ rg.otf);
}

body
{

    height: 100%;
    margin: 0px;
    padding: 0px;
    background:fixed url(../img/img.jpg);
}
.content-navbar
{
    
   display: flex;
   position: absolute;
   width: 100%;
   justify-content: center;
   height: 15%;
   background: linear-gradient(190deg , rgba(24, 23, 46, 0.400),rgba(16, 15, 44, 0.400),rgba(89, 104, 148, 0.400),rgba(43,58,112,0.400));
}
.img-logo
{
    cursor: pointer;
}
.navbar 
{
    display: flex;
    margin: 0;
    position: relative;
    height: 100%;
    width: 95%; 
    justify-content: center;
 
}
.text-navbar /* textos da navbar*/
{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    grid-gap: 20%;
    position: relative;
    display: flex;
    width: 50%;
   
    
    
}
.text-navbar a
{
    font-size: 40px;
    text-decoration: none;
    color: white;
    font-family: 'lilita';
}
.navbar .img-logo
{
    
    background-color: rgba(245, 227, 227, 0.020);;
    position: relative;
    right: 15%;
    width: 6%;
    border-radius: 100%;
}
.img-logo img
{
    color: rgba(76, 117, 133, 0.103);
    position: absolute;
    width: 100%;
    height: 100%;
}
.login
{
    height: 90%;
    width: 6%;
    position: relative;
    top: 20%;
    left: 7vw;
    border-radius: 100%;
    padding: 0;
    
}
.img_user_logo
{
    border-radius: 100%;
    background: rgba(76, 117, 133, 0.226);
    position: absolute;
    
    
}
.login img
{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* final nav bar */
.linha
{
    border: 1px solid rgba(248, 227, 227, 0.658);  
    width: 86%;
}
.conteiner 
{
    position: absolute;
    top: 20%;
    left: 5%;
    flex-direction: row;
    display: flex;
    width: 90%;
    height: 70%;
}

.conteiner-img-agente
{
    position: relative;
    bottom: 8%;
    background: linear-gradient(to right,rgba(255,0,0,0), hsla(0,0%,100%,.15), hsla(0,0%,100%,.15),hsla(0,0%,100%,.15), hsla(0,0%,100%,.15),rgba(255,0,0,0));
    display: flex;
    width: 60%;
    height: 120%;
    justify-content: center;
   
}
.img_ 
{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.img_ img
{
    width: 100%;
    height: 100%;
}
 /* fimm personagem
  */

  .conteiner-agente
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    
}
.distancia
{
    position: relative;
    top: 15%;
}
.inf-nome
{
    
    
    display:flex;
    flex-direction: row;
    position: relative;
    top: 5%;
    width: 100%;
    height:20%;
}
.inf-lado
{
    color:rgba(248, 227, 227, 0.658);
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 4vh;
    font-family: lilita;
    position: relative;
    top: 6%;
    width:100%;
    height: 15%;
}
.inf-dificuldade
{
    left: 60%;
    font-family: lilita;
    color: rgba(248, 227, 227, 0.658);
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -2%;
    width:100%;
    height: 10%;
}
.inf-especialidade
{
    font-family: lilita;
    color: rgba(248, 227, 227, 0.658);
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 9%;
    width:100%;
    height: 10%;
    
}
.inf-status
{
    display: flex;
    font-family: lilita;
    font-size: 3vh;
    color:  rgba(248, 227, 227, 0.658);
    width:100%;
    height: 5%;
}
.inf-saude
{
    width: 30%;
}
.inf-velocidade
{

    
    position: relative;
    width: 30%;
}


.inf-saude .linha{
    width: 70%;
}
.inf-velocidade .linha
{
    width: 70%;
}
.inf-dificuldade .linha
{
    width: 30%;
}

.img-logo-agente
{
    position: relative;
    left: 15%;
   width: 15%;
   height: 100%;
}
.img-logo-agente img
{
    width: 100%;
    height: 100%;
}
.nome-agente
{
    color: rgba(248, 227, 227, 0.658);
    font-family: "lilita";
    left: 15%;
    font-size: 6vh;
    position: relative;
    top: 20%;

}

.radios div
{
    border-radius: 100%;
    width: 2vh;
   
    height: 2vh;
    border: solid  rgb(248, 227, 227);
}
.radios
{
    
    display: flex;
    position: relative;
    top: 1vh;

    width: 50%;
}

/* 
dados agente */


.conteiner-data
{
    display: flex;
    text-align: center;
    align-items: center;
    font-family: lilita;
    flex-direction: column;
    position:absolute;
    transform: translate(-10%);
    left: 20%;
    top: 45vw;
    height: 10.5vw;
    width: 80%;
    background:  hsla(0,0%,100%,.6) ;
}
.titulo-data .linha{
    height: 0;
    width: 100%;
}
.titulo-data
{
    transform: translate(-10%);
    height: 30%;
    width: 30%;
}
.nome-titulo-data
{
    position: relative;
    left: 11%;
    justify-content: center;
    font-size: 3rem;
}

.inf-data
{
    
    position: absolute;
    top: 4vw;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vw;
}

.inf-data .linha{
    height: 70%;
    width: 0%;
}
.real-nome
{
    margin-right: 2%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 22%;
    font-size: 1.5vw;
}
.data-nasc
{
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 30%;
    font-size: 1.5vw;
}
.local-nasc
{
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 30%;
    font-size: 1.5vw;
}
.alinhar
{
    
    position: relative;
    bottom: 2%;
    left: 2%;
}



.conteiner-biografia
{
   
    height: 90%;
    transform: translate(12%);
    position: absolute;
    top: 65vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}
.titulo-biografia
{
    position: relative;
    bottom: 10%;
    height: 10%;
    font-size: 4vw;
    font-family: lilita;
    color:black;
 
}
.txt-biografia
{
    font-family: lilita;
    font-size: 2vw;
    text-align: center;
}
.titulo_txt
{
    margin-bottom: 2%;
    flex-wrap: wrap;
    position: relative;
    display: flex;
    font-family: lilita;
    font-size: 2.6vw;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
  }
  .a{
    position: absolute;
    top: 120vw;
  }

  .footer p {
    margin: 0;
    font-size: 14px;
  }