@font-face
{
    font-family: 'lilita';
    src: url(../fonts/Lilita_One/LilitaOne-Regular.ttf);
}
@font-face
{
     font-family: 'Good_times';
     src: url(../fonts/good_times/good\ times\ rg.otf);
}

body
{
    
    height: 100%;
    margin: 0px;
    padding: 0px;
    background:fixed url(../img/img.jpg);
}
.content-navbar
{
    
   display: flex;
   position: absolute;
   top: 0%;
   width: 100%;
   justify-content: center;
   height: 15%;
   background: linear-gradient(190deg , rgba(24, 23, 46, 0.400),rgba(16, 15, 44, 0.400),rgba(89, 104, 148, 0.400),rgba(43,58,112,0.400));
}
.img-logo
{
    cursor: pointer;
}
.navbar 
{

    display: flex;
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%; 
    justify-content: center;
 
}
.text-navbar /* textos da navbar*/
{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    grid-gap: 20%;
    position: relative;
    display: flex;
    width: 50%;
   
    
    
}
.text-navbar a
{
    font-size: 40px;
    text-decoration: none;
    color: white;
    font-family: 'lilita';
}
.navbar .img-logo
{
    background-color: rgba(245, 227, 227, 0.020);;
    position: relative;
    right: 15%;
    width: 6%;
  
    border-radius: 100%;
}
.img-logo img
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.login
{
    width: 8%;
    position: relative;
    left: 30%;
    
    border-radius: 100%;
    padding: 0;
    
}
.login img
{
    position: absolute;
    width: 90%;
    height: 100%;
    cursor: pointer;
}

/* Fim da navbar */
/* começo dos artigos */

.content-artigo-1
{
    overflow: hidden;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    border: 3px solid  rgba(0,0,0,0.500);
    position: absolute;
    left: 5%;
    top: 30%;
    width: 40%;
    height: 50%;
    background-color: rgba(220,220,220,0.200);
   
}
.content-artigo-1:hover
{
    box-shadow: -0px 6px 6px 10px  rgba(220,220,220,0.200);
}

 .artigo-1
{
   
    display: flex;
    align-items: center;
    font-size: 150%;
    position: absolute;
    top: 20%;
    height: 60%;
    width: 90%;
    /* font-family: ; */

}
.img-artigo1 img
{
    border: solid;
    width: 90%;
    height: 90%;

}
.img-artigo1
{
    overflow: hidden;
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid  rgba(0,0,0,0.500);
    position: absolute;
    left: 50%;
    top: 30%;
    width: 40%;
    height: 50%;
    background-color: rgba(220,220,220,0.200);
}
.img-artigo2
{
    overflow: hidden;
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid  rgba(0,0,0,0.500);
    position: absolute;
    left: 5%;
    top: 95%;
    width: 40%;
    height: 50%;
    background-color: rgba(220,220,220,0.200);
}
.img-artigo2 img{
    border: solid;
    width: 90%;
    height: 90%;
}
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
  }
  .a{
    position: absolute;
    top: 114vw;
  }

  .footer p {
    margin: 0;
    font-size: 14px;
  }

.titulo-artigo-1 h1
{
    color: rgba(15, 15, 17, 0.733);
    font-family: "Good_times" ;
    position: relative;
    position: absolute;
    width: 80%;
    top: 15%;
    left: 60%;
    transform: translate(-50%);
    font-size: 35px;
   
}
/* --------------------------*/
    /* artigo 2 */

.content-artigo-2
{
    overflow: hidden        ;
    display: flex;
    justify-content: center;
    border-radius: 3%;
    position: absolute;
    top: 95%;
    height: 50%;
    width: 40%;
    left: 55%;
    transform: translateX(-5%);
    border:3px solid rgba(0,0,0,0.500);
    background-color: rgba(220,220,220,0.200);
}
.content-artigo-2:hover
{
    box-shadow: -0px 6px 6px 10px  rgba(220,220,220,0.200);
}
.artigo-2 
{
 
    display: flex;
    align-items: center;
    font-size: 150%;
    position: absolute;
    top: 30%;
    height: 60%;
    width: 90%;
}
.titulo-artigo-2 h1
{
    color: rgba(15, 15, 17, 0.733);
    font-family: "Good_times" ;
    position: relative;
    top: -5%;
    font-size: 30px;
}
/* --------------------------*/

/* artigo 3 */

.content-artigo-3
{
    position:absolute;
    top: 160%;
 
    left: 10%;
    height: 120%;
    width: 80%;
    overflow: hidden;
}
.titulo-artigo-3
{
    justify-content: center;
    display:flex;
    position: relative;
    font-size: 150%;
    font-family: "Good_times" ;
    
}
.img-artigo-3 img
{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.img-artigo-3
{
   
    position: absolute;
    width: 70%;
    height: 80%;
    left: 13%;
}

.btn-artigo-3
{
    position: absolute;
    top: 80%;
    left: 45%;
    height: 6%;
    width: 10%;
    font-size: 150%;
    border:2px solid  #2499ff;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:"Good_times" ;
    color: white;
   
    background: #2499ff;
}
.btn-artigo-3:hover
{
    
    border: solid rgba(0,255,230,0);
    background: linear-gradient(12deg #2499ff , rgba(0,255,230,0));
    
}

.conteiner-desenvolvedor
{

    position: absolute;
    top: 70vw;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo-desenvolvedor
{
    text-align: center;
    font-size: 4vw;
    font-family: lilita;
    color: white;
}
.img-desenvolvedor img
{
    position: relative;
   
    width: 15vw;
    border-radius: 50%;
    height: 15vw;
}
.img-desenvolvedor
{
    display: flex;
    justify-content: center;
    height: 5%;
    width: 100%;
    border-radius: 50%;
   
}
.descricao
{
    text-align: center;
    font-family: lilita;
    font-size: 2vw;
}
