@font-face
{
    font-family: 'lilita';
    src: url(../fonts/Lilita_One/LilitaOne-Regular.ttf);
}
@font-face
{
     font-family: 'Good_times';
     src: url(../fonts/good_times/good\ times\ rg.otf);
}


body
{
    margin: 0;
    padding: 0;
    background:fixed url(../img/img.jpg);
    
}
.content-navbar
{
    
   display: flex;
   position: absolute;
   width: 100%;
   justify-content: center;
   height: 15%;
   background: linear-gradient(190deg , rgba(24, 23, 46, 0.400),rgba(16, 15, 44, 0.400),rgba(89, 104, 148, 0.400),rgba(43,58,112,0.400));
}
.img-logo
{
    cursor: pointer;
}
.navbar 
{
    display: flex;
    margin: 0;
    position: relative;
    height: 100%;
    width: 95%; 
    justify-content: center;
 
}
.text-navbar .pginicial
{
   
   width: 15%;
  
}
.text-navbar /* textos da navbar*/
{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    grid-gap: 20%;
    position: relative;
    width: 50%;
   
    
    
}
.text-navbar a
{
    font-size: 40px;
    text-decoration: none;
    color: white;
    font-family: 'lilita';
}
.navbar .img-logo
{
    
    background-color: rgba(245, 227, 227, 0.020);;
    position: relative;
    right: 15%;
    width: 6%;
    border-radius: 100%;
}
.img-logo img
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.login
{
    width: 8%;
    position: relative;
    left: 15vw;
    
    border-radius: 100%;
    padding: 0;
    
}
.login img
{
    position: absolute;
    width: 90%;
    height: 100%;
    cursor: pointer;
}
/* 
final da navbar */

.content-agentes
{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 25%;
    width: 100%;
    height: 120%;
}

.titulo-atacantes 
{
    height: 10%;
    color: white;
    width: 20%;
    position: absolute;
    top: 1%;
    left: 40%;
    font-size: 5vw;
    font-family: "lilita";
}
.content-atacantes
{
    grid-gap: 2%;
    position: absolute;
    top: 35%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 90%;
    width: 82%;
}
.img-agente img{height: 110%; width: 100%;}
.img-agente
{
    
    position: relative;
    height: 80%;
}
.card-agente 
{
    
    position: relative;
    top: 5%;
    background-color: hsla(0,0%,100%,.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    height: 45%;
  
}
.nome-agente
{
    position: relative;
    font-size: 4vh;
    font-family: "lilita";
    align-items: center;
    margin: 0;
    background-color:rgb(206, 194, 194) ;
    display: flex;
    justify-content: center;
    height: 15%;
    top: 3%;
    
}

.card-agente:hover 
{
    
    background-color: aqua;
    transition: all .3s ease ;
    scale: 130%;
    z-index: 1;
}
.content-botoes
{
    
   
    width: 25%;
    display: flex;
    justify-content:space-between;
    position: absolute;
    top: 20%;
    
}

.content-botoes div
{
    border:so 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(56, 190, 179, 0.918);
    font-size: 4vh;
    font-family: "lilita";
    height:8vh;
    width: 45%; 
    cursor: pointer; 
}

.content-botoes div:hover
{
 background: linear-gradient(0deg , rgba(114, 224, 218, 0.651),rgba(43,58,112,0.000));
}
.selecionado
{ 
color: red;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
  }
  .a{
    position: absolute;
    top: 315vw;
  }

  .footer p {
    margin: 0;
    font-size: 14px;
  }




