@font-face
{
    font-family: 'lilita';
    src: url(../fonts/Lilita_One/LilitaOne-Regular.ttf);
}
@font-face
{
     font-family: 'Good_times';
     src: url(../fonts/good_times/good\ times\ rg.otf);
}

body
{

    height: 100%;
    margin: 0px;
    padding: 0px;
    background:fixed url(../img/img.jpg);
}
.content-navbar
{
    
   display: flex;
   position: absolute;
   width: 100%;
   justify-content: center;
   height: 15%;
   background: linear-gradient(190deg , rgba(24, 23, 46, 0.400),rgba(16, 15, 44, 0.400),rgba(89, 104, 148, 0.400),rgba(43,58,112,0.400));
}
.img-logo
{
    cursor: pointer;
}
.navbar 
{
    display: flex;
    margin: 0;
    position: relative;
    height: 100%;
    width: 95%; 
    justify-content: center;
 
}
.text-navbar /* textos da navbar*/
{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    grid-gap: 20%;
    position: relative;
    display: flex;
    width: 50%;
   
    
    
}
.text-navbar a
{
    font-size: 40px;
    text-decoration: none;
    color: white;
    font-family: 'lilita';
}
.navbar .img-logo
{
    
    background-color: rgba(245, 227, 227, 0.020);;
    position: relative;
    right: 15%;
    width: 6%;
    border-radius: 100%;
}
.img-logo img
{
    color: rgba(76, 117, 133, 0.103);
    position: absolute;
    width: 100%;
    height: 100%;
}
.login
{
    height: 90%;
    width: 6%;
    position: relative;
    left: 18%;
    top: 5%;
    border-radius: 100%;
    padding: 0;
    
}
.img_user_logo
{
    border-radius: 100%;
    background: rgba(76, 117, 133, 0.226);
    position: absolute;
    
    
}
.login img
{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* final navbar */


.conteiner-quiz
{
    font-family: lilita;
    display: flex;
     flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    position:absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    transform: translate(-50%);
    
    box-shadow: 0px 6px 7px 10px rgba(59, 92, 211, 0.904) ;
}

.content-pergunta
{
    margin: 2%;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 70%;
}
.content-questao
{
    font-size: 3vw;
    display: flex;
    flex-direction: column;
}

.resposta input
{
    border-style: none;
    width: 5%;
    position: relative;
    bottom: 0.5vw;
    left: 0.5vw;
    
}
.btn-respostas
{
    position: relative;
    left: 25vw;
    bottom: 2vw;
    right: 8vw;
    cursor: pointer;
    font-size: 3vw;
    background-color:  rgba(114, 224, 218, 0.651);
    border-style: none;
}
.results
{
   
    font-size: 3vw;
    height: 25vw;
    width: 40vw;
    position: relative;
    bottom: 2vw;
    left:2vw;
}

.btn-respostas:hover
{
    background: linear-gradient( rgba(114, 224, 218, 0.651),rgba(43,58,112,0.000));
   
}

.grafico
{
    border: solid;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    width: 50%;
    top: 310vh;
    height: 60%;
}

.titulo
{
    font-family: lilita;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 5vw;
    color: white;
    top: 30%;
}