body
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.test1
{
   
    margin: 0;
    border: 2px solid;
    justify-content: center;
    height: 80px;
    width: 10%;
}
.test2
{
    border: 2px solid;
    height: 80px;
    width: 10%;
    
}
.test3
{
    border: 2px solid;
    height: 80px;
    width: 10%;
}
.test1:hover
{
    position: relative;
    transform: scale(1.2);
    background-color: white;

    /* padding: 20px; utilizar o padding: parara fazer o efeito; */
}
.test2:hover
{
    top:6px;
    border-bottom:2px solid #999;
}

/* comando de rotar */
/* body { background-color: #333; }    
  
.test1{ transition: all 0.5s ease; }    
:hover .test1{ transform: rotate(180deg); }    
.test1{ transition: all 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550); }    
a:hover .test1 { transform: scale(1.2); } */